<!DOCTYPE html>
{% load static %}
<html lang="es" class="h-100">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Elearning</title>  
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <link href={% static 'bootstrap.min.css' %} rel="stylesheet">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/cover/">
  </head>
  
  <body class="d-flex h-100 text-bg-dark">
  
    <div class="cover-container d-flex w-100 h-100 mx-auto flex-column">
      <header class="mb-5">
        <nav class="navbar  navbar-expand-lg bg-body-tertiary" id="fondonav">
          <div class="container-fluid text-bg-danger">
            <a class="ps-5 navbar-brand" href="../../">E-Learning CRUD</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse me-5 navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link nl" id="nl"  href="{% url 'inicio' %}">Usuarios</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link nl" id="nl" href="{% url 'inicioCargos' %}">Cargos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="nl" href="{% url 'inicioLoca' %}">Localizaciones</a>
                </li>
              </ul>      
              {% if request.user.is_authenticated %}
              <div class="p-2">
                <h8 class="text-center">Hola  <b>{{ user.username | upper }}</b>, bienvenido</h8>
              </div>
              <div class="p-2">
                <a class="btn btn-outline-light" href={% url 'exit' %}>Cerrar Sesión</a>
              </div>
            {% endif %}
            </div>
          </div>
        </nav>
      </header>
      <div class="align-items-center my-auto ms-5">
        {% block content %}

        {% endblock %}
      </div>
      <footer class="mt-auto text-white-50 ms-5 mb-5">
        <p>Realizado con el ❤️ por <a href="https://github.com/CamiloHedzz" class="text-white">Camilo Hernandez</a>.</p>
      </footer>
    </div>
  </body>
</html>
