{% extends 'inicio/base.html' %}
{% block content %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>E-Learning</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div class="d-flex flex-column mb-3 text-center">
            <div class="p-2" ><h1>Bienvenido!</h1></div>
            <div class="p-2 w-75 align-self-center"> <p>
                e-Learning Solutions es una empresa con más de 18 años de experiencia 
                especializada en proporcionar soluciones tecnológicas en la nube para el 
                desarrollo del talento humano. Ofrecen servicios de consultoría para apoyar en 
                la implementación de soluciones y proporcionan capacitación tanto a administradores 
                como a usuarios.
            </p></div>
            <div class="p-2">
                <a class="btn btn-primary" href="inicio">Inicia Sesión</a>
            </div>
            
            <div class="p-2">
                <a href='register'> Aun no te has registrado?</a>
            </div>
          </div>
    </body>
    </html>

{% endblock %}