{% extends 'inicio/base.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'base.css' %}">

{% load crispy_forms_tags %}

{% block content %}
<form method="post">
  {% csrf_token %}
  <div class="card mx-auto" id="cardi">
    <div class="card-body">
      <h5 class="card-title" id="titlefo">Ingrese sus Credenciales</h5>
      {{ form | crispy }}
      <a href={% url 'home' %} class="card-link">Inicio</a>
      <a href={% url 'register' %} class="card-link">Registrarse</a>
      <button class="btn btn-sm btn-primary float-end" type="submit">Iniciar Sesión</button>
    </div>
  </div>
</form>
{% endblock %}