{% extends 'inicio/base.html' %}
{% load static %}

<link rel="stylesheet" href="{% static 'base.css' %}">

{% load crispy_forms_tags %}

{% block content %}
<div class="d-flex flex-row">
    <div>
        <h5 >Crea a un nuevo usuario</h5>
        <form method="POST" action="{% url 'registerUser' %}">
            {% csrf_token %}
            <table>
                {{formUser | crispy}}
            </table>
            <button class="btn btn-sm btn-primary" type="submit">Guardar</button>
        </form>
    </div>
        <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8 mx-auto">
            <h6>Listado de Usuarios</h6>
            <div class="table-responsive py-2">
                <table class="table table-striped table-dark ">
                    <thead >
                        <tr>
                            <th>#</th>
                            <th>Identificacion</th>
                            <th>Nombre</th>
                            <th>Apellidos</th>
                            <th>Localizacion</th>
                            <th>Cargo</th>
                            <th colspan="2">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for u in usuarios %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{u.identificacion}}</td>
                            <td>{{u.nombres}}</td>
                            <td>{{u.apellidos}}</td>
                            <td>{{u.localizacion_id.localizacion}}</td>
                            <td>{{u.cargo_id.cargo}}</td>
                            <td><a href ="editUser/{{u.id}}" class="btn btn-info">Editar</a></td>
                            <td><a href ="deleteUser/{{u.id}}" class="btn btn-danger btnEliminacion">Eliminar</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    
</div>


{% endblock %}