{% extends 'inicio/base.html' %}
{% block content %}
{% load crispy_forms_tags %}

<div class="d-flex flex-row">
    <div class="p-2">
        <h5 >Crea a un nuevo usuario</h5>
        <form method="POST" action="{% url 'registerUser' %}">
            {% csrf_token %}
            <table>
                {{formUser | crispy}}
            </table>
            <button class="btn btn-sm btn-primary" type="submit">Guardar</button>
        </form>
    </div>
    <div class="p-2 ps-5 ms-5 pt-5 mt-3">
        <form method="POST" action="{% url 'registerLoca' %}">
            {% csrf_token %}
            <table>
                {{formLoca | crispy}}
            </table>
            <button class="btn btn-sm btn-primary" type="submit">Guardar</button>
        </form>
        <form method="POST" action="{% url 'registerCargo' %}">
            {% csrf_token %}
            <table>
                {{formCargo | crispy}}
            </table>
            <button class="btn btn-sm btn-primary" type="submit" >Guardar</button>
        </form>
    </div>
    
        <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8 ps-5 pe-5">
            <h6>Listado de Cursos</h6>
            <div class="table-responsive py-2">
                <table class="table table-striped table-dark">
                    <thead >
                        <tr>
                            <th>#</th>
                            <th>Identificacion</th>
                            <th>Nombre</th>
                            <th>Apellidos</th>
                            <th>Localizacion</th>
                            <th>Cargo</th>
                            <th colspan="2">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for u in usuarios %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{u.identificacion}}</td>
                            <td>{{u.nombres}}</td>
                            <td>{{u.apellidos}}</td>
                            <td>{{u.localizacion_id.localizacion}}</td>
                            <td>{{u.cargo_id.cargo}}</td>
                            <td><a href ="editUser/{{u.id}}" class="btn btn-info">Editar</a></td>
                            <td><a href ="deleteUser/{{u.identificacion}}" class="btn btn-danger btnEliminacion">Eliminar</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    
</div>


{% endblock %}